.farm-navbar{
    padding: 20px 20px;
    border-bottom: 1px solid lightgray;
    input{
        font-size: 20px;
        border-radius: 22px;
        padding: 5px 20px;
        font-family: 'Poppins', sans-serif;
    }
}