.auth-container{
    height: 82vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    input:focus{
        background-color: #6b5ccc;
        color: white;
        &::-webkit-input-placeholder{
            color: white;
        }
    }
    .div-1{
        width: 40%!important;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 50px;
        .span{
            span{
                span{
                    color: #6b5ccc;
                    cursor: pointer;
                    font-weight: 500;
                }
            }
        }
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            button{
                margin-top: 10px;
                width: 100%;
                height: 5vh;
                background-color: black;
                color: white;
                font-size: 20px;
                cursor: pointer;
                border: none;
                transition: 0.5s;
                &:hover{
                    background-color: #8271ef;
                }
            }
            div{
                display: flex;
                justify-content: space-between;
                input{
                    height: 7vh;
                    width: 45%;
                    font-size: 22px;
                    padding-left: 10px;
                    margin-top: 0;
                    &::-webkit-input-placeholder{
                        font-size: 16px;
                        padding-left: 0;
                    }
                }
            }
            input{
                width: 100%;
                height: 7vh;
                font-size: 22px;
                margin-top: 20px;
                border: solid 2px lightgray;
                &::-webkit-input-placeholder{
                    font-size: 16px;
                    padding-left: 10px;
                }
            }
        }
        .border{
            height: 2px;
            width: 40%;
            background-color: black;
            margin-bottom: 5vh;
        }
    }
    .div-2{
        width: 60%;
        height: 100%;
        background-color: #6b5ccc;
    }
}
